<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bootstrap Page</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="{% static 'www/css/login.css' %}"/>
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        
        <!-- Form for setting password -->
        {% if set_password_form %}
            <form method="post" action="{% url 'nopassauth:callback' %}">
                {% csrf_token %}
                {{ set_password_form.as_p }}
                <button type="submit" class="btn btn-primary">Set Password</button>
            </form>
        {% else %}
            <!-- Form for logging in -->
            <form method="post" action="{% url 'nopassauth:login' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        {% endif %}
		<h1>pong!.</h1>
		<a href="{% url 'nopassauth:42login' %}" class="custom-btn btn-6"><span>Login with 42</span>
    </div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>